@import '../../../assets/styles/colors.module.css';
@import '../../../assets/styles/variables.module.css';

.main-container {
    z-index: 2;
    flex: 1;
    min-height: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--modal-background-color);
}

.title, .actions-container {
    height: 6.5rem;
}

.title, .content-container, .actions-container {
    padding: 0 1.5rem 0 3.5rem;
}

.title {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--modal-title-color);
    border-bottom: 1px solid var(--border-color);
}
.title > * {
    font-size: 12px !important;
}

.content-container {
    flex: 1;
    padding-top: 3.5rem !important;
    padding-bottom: 3.5rem !important;
    overflow: overlay;
}
.content-container::-webkit-scrollbar {
    width: 0.4rem;
}
.content-container::-webkit-scrollbar-thumb {
    border-radius: 0.2rem;
    box-shadow: var(--scrollbar-thumb-shadow-light);
}
.content-container::-webkit-scrollbar-corner {
    background: transparent;
}

.actions-container {
    width: 100%;
    margin-bottom: 5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 0 6px var(--modal-actions-shadow-color);
}
