@import '../../../assets/styles/colors.module.css';

.main-container {
  display: flex;
  gap: 10.5rem;
}

.main-container label {
  min-width: 10rem;
  color: var(--input-label-color);
}

.main-container label span {
  font-size: 13px;
  position: relative;
}

.required {
  position: absolute;
  top: 0;
  right: -0.3rem;
  font-size: 1rem;
  color: var(--primary-color);
}

.main-container label, input {
  height: 2.7rem;
  display: flex;
  align-items: center;
  font: inherit;
}

.main-container input {
  width: 20rem;
  padding: 0 1rem;
  margin: 0;
  border: 0.125rem solid var(--border-color);
  border-radius: 0.35rem;
  box-sizing: border-box;
  font-size: 12px;
  outline: none;
  color: var(--input-value-color);
}

.main-container input::placeholder {
  font-style: italic;
}

.main-container input:disabled {
  opacity: 0.5;
  background-color: inherit;
  border: 0.125rem solid var(--border-color) !important;
}

.main-container input:read-only {
  filter: brightness(0.95);
  border: 0.125rem solid transparent;
}

.main-container input:hover {
  border: 0.125rem solid var(--border-color-hover);
}

.main-container input:active {
  border: 0.125rem solid var(--border-color-active);
}

.main-container input:focus, .main-container input:focus-within, .main-container input:focus-visible {
  border: 0.125rem solid var(--border-color-focus);
}

.disabled {
  opacity: 0.5;
}
