@import '../../assets/styles/colors.module.css';

.content-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: var(--input-label-color);
}

h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 1rem 0;
  color: var(--input-value-color) !important;
}

.spacer {
  height: 2rem;
}

.settings-input {
  margin-left: 2.5rem !important;
  gap: 8rem !important;
}

.reporting-interval {
  margin: 1rem 0;
}

.attach-files-container {
  display: flex;
  gap: 10.5rem;
}

.attach-files-container label {
  width: 10rem;
  font-size: 13px;
}

.attach-files-selection {
  display: flex;
  flex-direction: column;
}
