@import '../../../assets/styles/colors.module.css';

.main-container {
  height: 2.8rem;
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: var(--button-text-color);
  background: var(--button-color);
  border-radius: 1.4rem;
  /* override default button styles */
  font-family: inherit;
  outline: inherit;
  border: none;
  cursor: pointer;
  transition: var(--button-transition);
}
.main-container:hover {
  filter: var(--button-hover-filter);
}
.main-container:active {
  filter: var(--button-active-filter);
}

.hollow {
  color: var(--button-hollow-color);
  background-color: transparent;
  border: 1px solid var(--button-hollow-color);
}
